/* Extra resetting
 * ===============
 */

ul {
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

/* Okay real styles now
 * ====================
 */
svg.round-button {
  width: 40px;
  height: 40px;

  font-size: 25px;
  font-family: sans-serif;

  stroke: black;
  stroke-weight: 1;
}

.a-button {
  fill: rgb(0, 189, 141);
}

.b-button {
  fill: rgb(255, 0, 0);
}

.button-content {
  fill: black;
}

.option-box {
  display: flex;
  border-bottom: 1px solid rgb(127, 127, 127);
}

.action-bar {
  width: 400px;
  border-left: 1px solid rgb(127, 127, 127);
}

.action-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.action-item {
  width: 100%;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.action-item a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;

  outline: none;
  box-shadow: none;
}

.action-item .content {
  display: block;
  width: 100%;

  font-weight: 400;
}

.action-item .content:hover {
  cursor: pointer;
  font-weight: 500;
}
